@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f4f6fc;
  font-family: "Roboto", sans-serif;
}
/* nav */
.nav-bar {
  height: 122px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.logo {
  grid-column: 3/4;
  width: 60.53px;
  height: 18.46px;
}
.menu {
  display: flex;
  grid-column: 6/9;
  justify-content: space-around;
  width: 295px;
  height: 22px;
}
.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  width: 84px;
  height: 22px;
}
.home {
  width: 46px;
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;

  color: #072ac8;
}
.progect {
  width: 63px;
  height: 22px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;

  color: #6b708d;
}
.services {
  width: 66px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #6b708d;
}
.contact {
  grid-column: 10/12;
  width: 150px;
  height: 52px;
  background-color: #072ac8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 36px;
  gap: 10px;
  border: none;
}
.contact h4 a {
  /* width: 84px; */
  height: 22px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.menu-bar {
  display: none;
}
/* header */
.head {
  padding: 90px 0 30px 0;
  width: 1440px;
  height: 650px;

  display: grid;
  justify-content: space-between;

  grid-template-columns: repeat(12, 1fr);
}
.hero-section {
  position: relative;
  grid-column: 7/9;
}
.hero-image {
  width: 570px;
  height: 637px;
}
.card-1 {
  position: absolute;
  top: 10px;
  left: -73px;
  height: 288px;
  max-width: 375px;
}
.card-2 {
  position: absolute;
  bottom: -70px;
  left: 421px;
  max-width: 375px;
  height: 270px;
  padding: -80px;
}
aside {
  grid-column: 3/5;
  grid-column: 2/5;
  padding: 36px;
  padding-top: 135px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
}
.title {
  width: 530px;
  height: 210px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70.31px;
  color: #292e47;
}
.sub-title {
  margin: 30px 0 30px 0;
  width: 435px;
  height: 90px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #6b708d;
}
.btn-gettouch {
  background-color: #072ac8;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  padding: 14px 26px;
  font-weight: 500;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 0;
  margin-left: 39px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.btn-ourwork {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #6b708d;
  width: 100px;
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  border: none;
  background-color: transparent;
}
/* client-section */

.client-section {
  width: 1062px;
  height: 96px;
  display: flex;
  justify-content: space-around;
  margin: 213px 0px 181px 149px;
}
.client-section img {
  width: 104px;
  height: 32px;
}
/* progect-section */
.title-h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-left: 182px;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 1158px;
  margin: 87px 135px 209px 162px;
}
.container div img {
  width: 340px;
  height: 240px;
  display: flex;
  justify-content: space-around;
}
/* cart-texto para cambiar la posición del texto de la carta */
.cart-texto {
  margin-left: 35px;
  margin-top: 24px;
}
.cart-texto input {
  margin-top: 34px;
  margin-left: -10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #072ac8;
  width: 110px;
  height: 26px;
  border: 0;
  background-color: transparent;
}
.cart-texto h2 {
  width: 225px;
  height: 26px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
  margin-top: 18px;
}
.cart-texto h1 {
  width: 88px;
  height: 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #292e47;
}
.card-progect {
  background-color: #ffffff;
  box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
  width: 340px;
  height: 444px;
}
/* testimonial-section */

.testimonial-section {
  background-image: url(/CSS/icons/orbit.png);
  width: 1320px;
  height: 622px;
  background: #292e47;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 72px;
}
.testimonial-container {
  position: relative;
}
.kristin-Watson {
  position: absolute;

  top: 190px;
  left: 227px;
  width: 171px;
  height: 50px;
  display: flex;
}
.kristin-Watson img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.kristin-Watson .person {
  width: 111px;
  height: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #a2d6f9;
  margin: 7px;
}
.kristin-Watson .company {
  width: 77px;
  height: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #f4f6fc;
  margin: 7px;
}
.blockquote {
  position: absolute;
  top: -29px;
  left: -9px;
  width: 596px;
  height: 76px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #ffc600;
}
.testimonial-container h1 {
  position: absolute;
  top: -226px;
  right: -616px;
  width: 621px;
  height: 47px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #f4f6fc;
}
.first-img {
  position: relative;
  top: -152px;
  left: -226px;
  width: 150px;
  height: 150px;
}
.second-img {
  position: relative;
  top: 150px;
  right: -487px;
  width: 150px;
  height: 150px;
}
.third-img {
  position: relative;
  top: 150px;
  left: -505px;
  width: 150px;
  height: 150px;
}
.fourth-img {
  position: relative;
  top: -152px;
  left: 179px;
  width: 150px;
  height: 150px;
}
/* services-section  */

.services-section {
  height: 561px;
}
.myservices {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-left: 182px;
  margin-top: 104px;
  margin-bottom: 87px;
}
.container-services {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 340px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 18px;
  background-color: #ffffff;
}
.last-img {
  width: 80px;
  height: 80px;
  background: #ecf7ff;
  border-radius: 49.6px;
  -webkit-border-radius: 49.6px;
  -moz-border-radius: 49.6px;
  -ms-border-radius: 49.6px;
  -o-border-radius: 49.6px;
  position: relative;
  margin-top: 30px;
  margin-left: 31px;
}
.last-img img {
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 21px;
  margin-left: 18px;
}
.card h1 {
  max-width: 340px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
}
.card p {
  /* width: 280px;
  height: 90px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #6b708d; */
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}
.card input {
  width: 100px;
  height: 26px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #072ac8;
  border: 0;
  background: transparent;
}
/* news-letter-section */
.news-letter-section {
  width: 1320px;
  height: 500px;
  max-width: 1320px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffc600;
}
.container-news-letter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.container-news-letter h1 {
  margin-bottom: 20px;
  color: #292e47;
  font-size: 40px;
}
.container-news-letter h3 {
  font-size: 17px;
  color: #6b708d;
  font-family: "Roboto", sans-serif;
  margin-bottom: 56px;
  font-weight: 400;
}
.input-news {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.iw-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;

  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;

  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.text-field {
  width: 393px;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 70px;
  background-color: #ecf7ff;
  color: #292e47;
}
.textfield-icon {
  position: relative;
  top: 3px;
  left: 45px;
}
.button.primary-button.cta-button {
  height: 80px;
  margin-left: 20px;
  padding-right: 60px;
  padding-left: 60px;
}
.button.primary-button {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* footer-sections */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 200px;
  padding-bottom: 100px;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.footer-links ul {
  display: flex;
}
.ul-2 {
  position: relative;
  top: 61px;
  left: -10px;
}
.ul-1 {
  position: relative;
  top: 1px;
  left: 284px;
}

.footer-links a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 17px;
  color: #0000ee;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
.footer-links li {
  list-style: none;
}
address {
  width: 260px;
  max-width: 260px;
}
address img {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
}
address h5 {
  width: 260px;
  height: 52px;

  bottom: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}
/* ----------------------- */
/* contact css */
.contact-container {
  margin-left: 141px;
}
.contact-container h1 {
  width: 530px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
  margin-top: 210px;
  margin-bottom: 75px;
}
.form-contact {
  position: relative;
}

label {
  margin-top: 27px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 301.05px;
  height: 30px;
  left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #6b708d;
}
#fname {
  width: 1100px;
  height: 70px;
  color: #6b708d;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  background: rgba(107, 112, 141, 0.1);
  border: 0;
  padding-left: 13px;
}
#email {
  width: 530px;
  height: 70px;
  background: rgba(107, 112, 141, 0.1);
  color: #6b708d;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  background: rgba(107, 112, 141, 0.1);
  border: 0;
  padding-left: 13px;
}
#phone {
  width: 564px;
  height: 70px;
  background: rgba(107, 112, 141, 0.1);
  color: #6b708d;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  padding-left: 13px;
}
.phone {
  position: relative;
  top: -132px;
  left: 536px;
}
.contact-text-field {
  width: 1100px;
  height: 200px;
  background: rgba(107, 112, 141, 0.1);
  color: #6b708d;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border: 0;
  padding-left: 13px;
}
.textfield-submit {
  position: relative;
  top: -128px;
}
#btn-submit {
  align-items: center;
  padding: 15px 37px;

  width: 1100px;
  height: 80px;
  background: #072ac8;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}

/* page-progect-section */

.page-progect-section {
  width: 1440px;
  height: 1181px;
  margin-top: 81px;
  margin-left: 175px;
}
.page-progect-section h1 {
  width: 530px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
}
.h3-div {
  margin-top: 10px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.h3-div h3 {
  height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #6b708d;
}
.h3-div h4 {
  width: 255px;
  height: 30px;
  left: 1015px;
  top: 94px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #292e47;
}
.page-progect-section img {
  margin-top: 63px;
  width: 1100px;
  height: 444px;
}
.page-progect-section p {
  margin-top: 79px;
  width: 1100px;
  height: 420px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  font-family: Roboto, sans-serif;
  color: #292e47;
}
/* Media Query? */
/* pixel5 */
